{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1 class="text-center"> Progress To Your Goal </h1>
<div> 
<label for="salary-type"> Input A Goal You Want To Save For:</label>
    
    <input type="text">
</div>
<img style="margin-left: auto;right: auto; display: block;" src="https://media.istockphoto.com/id/1285954770/vector/vision-board-collage-with-dreams-and-goals-vector-illustration-cartoon-flat-visionary.webp?s=612x612&w=is&k=20&c=_sBCH70l0P_eH3JIMEtLmIinu5fAj87wD3LPP7HzaII=">

<!--so want to take the information from the graph to determine how close you are to the goal you choose -->




{% endblock %}